*,
*::before,
*::after {
box-sizing: border-box;
}

body{
    margin: 0;
    position: relative;
}

img {
    display: block;
    max-width:100%;
}

a{
    text-decoration: none;
}

nav{
    height: 100px;
    margin-bottom: 70px;
}

.nav-deskop{
    display: none;
}
.nav-mobile{
    position: fixed;
    top:0;
    width: 100%;
    background-image: url(/Image/bg_pattern.png);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img[alt="Sezane-deskop"]{
    width: 150px;
    padding-right: 30px;
}

nav a{
    color: #000;
}



img[alt="Sezane-mobile"]{
    width: 100px;
    margin: 0 auto;
    max-height: 100%;
}

.burger{
    width: 30px;
    height: 30px;
    position: fixed;
    left: 15px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1;
}

.burger div{
    width: 70%;
    height: 3px;
    background-color:#000;
    border-radius:10px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
}

a img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
}

h1{
    text-align: center;
    padding-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: span 3;
}

.big-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: span 3;
}

.lookboot{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lookboot::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
}

img[alt="lookboot"]{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

.txt-btn{
    position: absolute;
    text-align: center;
    color: #fff;
}

.txt-btn a{
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    transition: 1s all ease-in-out;
}

.txt-btn a:hover{
    background-color: #ffffff52;
    padding: 20px 50px;
}

.wrapper{
    padding: 30px;
    margin-bottom: 50px;
    padding: 0 2rem;
}

.grid-container-footer{
    display: grid;
    padding: 2rem;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    width: 200px;
    height: 30px;
    padding: 20px;
}

button{
    height: 30px;
    background-color: #000;
    color: #fff;
}

.icons{
    display: flex;
    gap: 15px;
}

.icons a:nth-child(1):hover{
    color: orange;
}
.icons a:nth-child(2):hover{
    color: red;
}
.icons a:nth-child(3):hover{
    color: blue;
}
.icons a:nth-child(4):hover{
    color: yellow;
}
.icons a:nth-child(5):hover{
    color: rgb(0, 128, 28);
}
.icons a:nth-child(6):hover{
    color: rgb(128, 0, 0);
}
@media screen and (min-width: 1064px) {
    .container{
        width: 1300px;
        margin: 0 auto;
    }
    .nav-mobile{
        display: none;
    }
    .nav-deskop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0;
    
    }
    .burger{
        display: none;
    }
    .wrapper{
        width: 1300px;
        margin: 0 auto;
    }
    
}
@media screen and (min-width: 770px) {
        .grid-container{
            grid-template-columns: repeat(4,1fr);
        }
        .big-card{
            grid-column: span 2;
        }
        .card{
            grid-column: span 1;
        }
}